body {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color:#F8F8FF;
  }

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: none;
  
}

.nav-links {
  border: solid;
  display: flex;
  list-style: none;
  margin-right: 5%;
  padding: 0;
  gap: 100px;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #101010;
  
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  border: solid;
  justify-content: center;
  align-items:start;
  
}

