body {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style:normal;
  color: #22223b;
  background-color:#F8F8FF;
  }

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: none;
  font-weight: 600;
}

.nav-links {
  border: solid;
  display: flex;
  list-style: none;
  margin-right: 5%;
  padding: 0;
  gap: 100px;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  color: #101010;
  
  text-decoration: none;
}

.intro {
  font-size: 45px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  border: solid;
  justify-content: center;
  align-items:start;
  
}

.main-info {
  font-size: 35px;
}

.intro-color-emp {
  color: #5068A8;
}

#position-info {
  font-weight: 500;
  font-size:18px; 
  margin-top:1%; 
  color: #778899;
}

#position-highlight {
  font-weight: bold;
  color: #22223b;
}

