#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #c3e4ff; 
  --gradient-color-2: #6ec3f4; 
  --gradient-color-3: #eae2ff;  
  --gradient-color-4: #b9beff;
  position: fixed;
}
   

body {
  padding: 0%;
  margin: 0%;
  /* overflow: hidden; */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
	min-height: 100vh;
  z-index: 0;
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style:normal;
  color: #22223b;
  background-color: #FAF9F9;
  
  }
  
/* ensures scrollable function*/
  body::-webkit-scrollbar{
    display: none;
  }
#music {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-weight: 700;
  border:solid;
  padding: 1% 10%;
}

.nav-links {
  border: none;
  display: flex;
  list-style: none;
  padding: 0%;
  gap: 100px;
}



.nav-links a { 
  color: #22223b;
  text-decoration: none;
}

.landing{
  display: flex;
  align-self: center;
}

#name {
  gap:7px;
  display: flex;
  font-size: 20px;
  align-items: center;
  color: #101010;
  text-decoration: none;
  
}

#divider {
  font-weight:bolder;
  margin-bottom: 2px;
}

.knot{
  /* border:solid; */
  height:55px; 
  width: 55px;
}

.intro {
  font-size: 55px;
  font-weight: 600;
  margin: 20%;
  margin-top: 10%;
  
}

#greeting {
  border: none;
  
}
.info {
  border: none;
  font-size: 40px;
}

.intro-color-emp {
  color: #5068A8;
}

#position-info {
  font-weight: 500;
  font-size:18px; 
  margin-top:3%; 
  color: #778899;
}

#position-highlight {
  font-weight: bold;
  color: #22223b;
}

.main-content{
  border: solid;
  margin-bottom: 40px;
}

.footer {
  min-height: 150px;
  height: 100%;
  border: solid;
  background-color: none;
  color:#22223b;
  text-align: center; 
}

.copyright{
  
  max-width:fit-content;
  border: solid;
}