#gradient-canvas {
  width:100%;
  height:100%;
  --gradient-color-1: #c3e4ff; 
  --gradient-color-2: #6ec3f4; 
  --gradient-color-3: #eae2ff;  
  --gradient-color-4: #b9beff;
  position: fixed;
}
   

body {
  padding: 0%;
  margin: 0%;
  /* overflow: hidden; */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
	min-height: 100vh;
  z-index: 0;
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style:normal;
  color: #22223b;
  background-color: #FAF9F9;
  
  }

/* ensures scrollable function*/
  body::-webkit-scrollbar{
    display: none;
  }

  
  @keyframes unblur {
    to {
      filter: blur(0px); /* final unblurred state */
    }
  }



#music {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-weight: 700;
  
  padding: 1% 10%;
  position: sticky;
  top: 0;
  z-index: 100;
  /* background-color: rgba(255, 255, 255, 0.7); */
  backdrop-filter: blur(5px);
}

.nav-links {
  border: none;
  display: flex;
  list-style: none;
  padding: 0%;
  gap: 100px;
}



.nav-links a { 
  color: #22223b;
  text-decoration: none;
}

.landing{
  display: flex;
  align-self: center;
}

#name {
  gap:7px;
  display: flex;
  font-size: 20px;
  align-items: center;
  color: #101010;
  text-decoration: none;
  
}

#divider {
  font-weight:bolder;
  margin-bottom: 2px;
}

.knot{
  animation: swing 2s infinite;
  height:55px; 
  width: 55px;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.knot path {
  transform-origin: center top;
}

.intro {
  font-size: 55px;
  font-weight: 600;
  margin: 10%;
  margin-top: 15%;
  
}

#greeting {
  border: none;
  
}
.info {
  border: solid;
  font-size: 40px;
}

.intro-color-emp {
  color: #5068A8;
}

#position-info {
  font-weight: 500;
  font-size:18px; 
  margin-top:3%; 
  color: #778899;
}

#position-highlight {
  font-weight: bold;
  color: #22223b;
}

.main-content{
  border: solid;
  color:#22223b;
  /* display: flex;
  flex-direction: column; */
  margin: 15% 20% 15% 20%;
  min-height: 8in;
}

.about-content{
  border: solid;
  color:#22223b;
  margin: 15% 21% 15% 21%;
  min-height: 8in;
}

#about-me{
  border: solid;
  font-size: 40px;
}

#about-role{
  border:solid;
  font-size: 25px;
  color:#778899
}

.about-container{
  border: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#about-story{
  border:solid;
  max-width: 450px;
  font-size: 18px;
  font-weight: 400;
}
.profile-card{
  border:solid;
  width: 350px;
  height: 400px;
  max-width: 100%;
  max-height:100%;
  object-fit: contain;
}

.work-content{
  border: solid;
  color:#22223b;
  /* display: flex;
  flex-direction: column; */
  margin: 15% 20% 15% 20%;
  min-height: 8in;
}

.dev-content{
  border: solid;
  color:#22223b;
  /* display: flex;
  flex-direction: column; */
  margin: 15% 20% 15% 20%;
  min-height: 8in;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  bottom: 0%;
  border: solid;
  background-color: none;
  color:#22223b;
  
}

.copyright{
  max-width:fit-content;
  border: solid;
}
